<div class="container">

  <h1>All islands</h1>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class = "d-flex flex-wrap">

        <div class="card-index-island">
          <img src="https://source.unsplash.com/featured/?island,paradise" />
          <div class="card-index-island-infos">
            <div>
              <h2> name</h2>
              <p> description</p>
            </div>
            <h2 class="card-trip-pricing">price</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-index-island-user avatar-bordered" />
          </div>
        </div>

        <%# ------ %>

        <div class="card-index-island">
          <img src="https://source.unsplash.com/featured/?island,paradise" />
          <div class="card-index-island-infos">
            <div>
              <h2> name</h2>
              <p> description</p>
            </div>
            <h2 class="card-trip-pricing">price</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-index-island-user avatar-bordered" />
          </div>
        </div>


    <%# ------ %>

        <div class="card-index-island">
          <img src="https://source.unsplash.com/featured/?island,paradise" />
          <div class="card-index-island-infos">
            <div>
              <h2> name</h2>
              <p> description</p>
            </div>
            <h2 class="card-trip-pricing">price</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-index-island-user avatar-bordered" />
          </div>
        </div>

    <%# ------ %>

        <div class="card-index-island">
          <img src="https://source.unsplash.com/featured/?island,paradise" />
          <div class="card-index-island-infos">
            <div>
              <h2> name</h2>
              <p> description</p>
            </div>
            <h2 class="card-trip-pricing">price</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-index-island-user avatar-bordered" />
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <h1>map</h1>
      <img id="map-island-index" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiaGFyeW9zIiwiYSI6ImNraDZkcnY5dTAwejMycmwzNWkyY3oxZG4ifQ.HEoss9bdaBYpjGpQs5gRLg'>
    </div>

  </div>
</div>
