// Specific CSS for your home-page
.container_home{
  // border: 1px solid black;
  // display: flex;
  // height: 75vh;
  // color: black;
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 65px;
  margin-right: 65px;
  > p{
    //  font-size: 28px;
     font: normal 32px 'Open Sans', cursive;
  }
  > h2{
    //  font-size: 28px;
     font: bold 36px 'Open Sans', cursive;
  }

  #title {
  font-family: "Shrikhand";
  color: white;
  font-size: 70px;
  text-align: center;
  }

}



.home-title {
  font-family: "Shrikhand";
  // color: black;
  font-size: 48px;
  text-align: center;
}
