// Specific CSS for your home-page
.container{
  // border: 1px solid black;
  // display: flex;
  // height: 75vh;
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.home-title{
  font-family: "Shrikhand";
  color: black;
  font-size: 48px;
  text-align: center;
}
