<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © Island Paradise, inc. 2020
  </div>
</div> -->


<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Island<span>Paradise</span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="#">Blog</a>
          <a href="#">Pricing</a>
          <a href="#">About</a>
          <a href="#">Faq</a>
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">IslandParadise © 2020</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>La Cantine</span>  Nantes, France</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+33 06.12.35.64.09</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@islandparadise.com">support@islandparadise.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Island Paradise has been created in a small garage in Nantes by four passionnate LeWagon Alumni who wanted to travel and discover all the islands, all around the world
        </p>

        <div class="footer-icons">

        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>

        </div>

      </div>

    </footer>
