<div class="banner_home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/featured/?island,paradise');)">
   <div class="container">
     <h1>Gorgeous Island to rent </h1>
         <p><strong>Find your dreaming island</strong>  here 💪</p>
         <%= link_to "Discover all our Islands", islands_path, class: "btn btn-flat" %>
     </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-offset-4">
      <div class="home-title">
        Top Islands
      </div>
      <div class="cards">
        <div class="card-category shadow m-2 text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path("narval.jpg")%>');">
          <p>Narval</p>
        </div>
        <div class="card-category shadow m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path("roc.jpg")%>');">
          <p>Roc</p>
        </div>
        <div class="card-category shadow m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= image_path("heart.jpg")%>');">
          <p>Heart</p>
        </div>
      </div>
    </div>
  </div>
</div>
