.card-index-island {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 450px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.card-index-island > img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.card-index-island h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index-island p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-index-island .card-index-island-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-index-island-infos .card-index-island-capacity {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
}

#map-island-index {
/*  flex-grow: 1;*/
  height: 150vh;
  margin-right: 15px;
  position: sticky;
  top: 10px;
}

h1 {
font-family: "Shrikhand";
}

.card-index-island .favori-index-island {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.2);
}

.card-index-island .favori-index-island:active {
  background-color: green;
}

.card-index-island .favori-index-island:focus {
  background-color: red;
}
