.card-category-icon {
    font-size: 32px;
    color: #c42f3b;
    position: absolute;
    right: -30px;
    top: -25px;
    //width: px;
  }

.card-index-island {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  height: 350px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.card-index-island > img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}


.card-index-island h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-index-island p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-index-island .card-index-island-infos {
  color: black;
}

.card-index-island-infos .card-index-island-capacity {
  font-size: 16px;
  span {
    font-size: 14px;
    opacity: .7;
    margin: auto;
  }
}

.card-index-island-infos .card-trip-pricing {
  font-size: 16px;
  span {
    font-size: 14px;
    opacity: .7;
    margin: auto;
  }
}

h1 {
  font-family: "Shrikhand";
  margin-bottom: 20px;
}

.space{
  height: 50px;
}
// .card-index-island .favori-index-island {
  //   height: 40px;
  //   width: 40px;
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
//   background-color: white;
//   border-radius: 50%;
//   box-shadow: rgba(0,0,0,0.2);
// }

.index-island-image {
  position: relative;
  background-position: center;
}

.information-index-cards {
background-color: white;
position: absolute;
bottom: 10px;
left: 18%;
width: 60%;
height: 30%;
display: none;
box-shadow: 0 0 15px rgba(0,0,0,0.4);
text-align: center;
padding-top: 10px;
transition: 1s;
opacity: 0.7;
}

.card-index-island:hover {
  color: black;
  .information-index-cards{
    display: block;
  }
}

.price-capacity-index{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.shark-image {
  width: 40px;
  height: 40px;
}






// #pen {
//     font-size: 32px;
//     color: #c42f3b;
//     position: absolute;
//     right: -100px;
//     top: -10px;
//     //width: px;
//   }
