// app/assets/stylesheets/components/_map.scss
#map-island-index {
/*  flex-grow: 1;*/
  height: 100vh;
  margin-right: 15px;
  position: sticky;
  top: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
